div.nb-item {
	background: #f9f9f9;
	color: #444;
}

div.nb-content h4 {
	color: #7b0f08;
}

div.nb-price h4 {
	color: #7b0f08;
}

div.nb-item-inner a.nb-button {
	background: #7b0f08;
	color: #fff;
}

div.nb-item-inner a.nb-button:hover {
	background: #6a0d07;
	color: #fff;
}